<div class="col-md-3 col-sm-6 oneproduct-item">
    <div class="thumbnail">
      <img [src]="uproduct?.photo" alt="">
      <div class="caption">

        <h3>{{uproduct?.title | uppercase }} - {{uproduct?.price | currency:'EUR'}}</h3>
        <p>{{uproduct?.description}}</p>
        <p>{{ uproduct?.stock }}</p>
        <span *ngIf="uproduct && isTheLast(uproduct)" [ngClass]="{last: isTheLast(uproduct)}">il ne reste plus qu'un stock</span>
          <button class="btn btn-primary" (click)="updatePrice(uproduct)" >Add to Cart</button>
      </div>
    </div>
  </div>

  <div class="row text-center">
    <ng-container *ngFor="let product of products | sort:sortKey">
      <app-product *ngIf="uproduct.title !== product?.title" [data]="product"
                   (addToBasket)="updatePrice($event)"></app-product>
    </ng-container>
  </div>